<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>moyu-auth-demo</title>
</head>
<body>
<div>Hello <span th:text="${name}">, thymeleaf</span>!</div>
<div>LoginUser:<span th:text="${user}"></span></div>
<div>welcome moyu-auth-demo</div>

<form action="/ssoLogout?backUrl=http%3A%2F%2Fdemo.ffis.me%3A8001%2F" method="post">
    <input type="submit" value="全局注销"/>
</form>
</body>
</html>