<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>统一登录中心</title>
    <link href="/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div>Hello <span th:text="${name}">, thymeleaf</span>!</div>
<div>welcome moyu-统一登录中心</div>

<form method="post" th:action="@{/ssoLogout}">
    <input type="submit" value="注销"/>
</form>
</body>
</html>