<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>统一登录中心</title>
    <link href="bootstrap/dist/4.0.0/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet"/>
    <link href="/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div class="container">
    <form class="form-signin" id="loginForm">
        <h2 class="form-signin-heading">欢迎登录</h2>
        <div class="alert alert-danger"
             id="errorMsgDiv" th:style="${not #strings.isEmpty(errorMessage)} ? 'display:block;' : 'display:none;'"
             th:text="${errorMessage}"></div>

        <div th:if="${allowLogin}">
            <p>
                <label class="sr-only" for="username">用户名</label>
                <input autofocus class="form-control" id="username" name="username" placeholder="用户名" required
                       type="text">
            </p>
            <p>
                <label class="sr-only" for="password">密码</label>
                <input class="form-control" id="password" name="password" placeholder="密码" required type="password">
            </p>
            <!--        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>-->
            <input name="loginType" type="hidden" value="ACCOUNT"/>
            <button class="btn btn-lg btn-primary btn-block" id="loginButton">登录</button>
        </div>
    </form>
</div>

<script>
    if (document.getElementById('loginButton') !== null) {
        document.getElementById('loginButton').addEventListener('click', function (event) {
            // 阻止按钮的默认动作
            event.preventDefault();

            const form = document.getElementById('loginForm');
            // 检查表单是否有效
            if (!form.checkValidity()) {
                // 停止函数执行
                return;
            }

            const formData = new FormData(form);
            console.log("formData：" + JSON.stringify(formData))

            // 构造请求URL，将当前页面的查询参数附加到/ssoLogin的URL后面
            const urlParams = new URLSearchParams(window.location.search);
            const loginUrl = `/ssoLogin?${urlParams.toString()}`;
            console.log("loginUrl：" + loginUrl)

            // 发起fetch请求
            fetch(loginUrl, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    if (response.redirected || response.status === 302) {
                        console.log('请求将被重定向到:', response.url);
                        window.location.href = response.url;
                        return;
                    }
                    return response.json();
                })
                .then(data => {
                    // 处理成功的响应
                    console.log('Login Success:', data);
                    if (data) {
                        if (data.success) {
                            // 登录成功
                            if (data.content.redirectUrl) {
                                window.location.href = data.content.redirectUrl
                            }
                        } else {
                            // 登录失败，显示错误信息
                            document.getElementById('errorMsgDiv').style.display = 'block';
                            document.getElementById('errorMsgDiv').textContent = data.message;
                        }
                    }
                })
                .catch(error => {
                    document.getElementById('errorMsgDiv').style.display = 'block';
                    document.getElementById('errorMsgDiv').textContent = error.message;
                });
        });
    }
</script>
</body>
</html>